@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: "Noto Sans KR", sans-serif;
  color: #404040;
}

html {
  font-size: 10px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
}

.container {
  background-image: url("../img/main-background-img.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: 40px;
  height: 100%;
  padding: 40px 40px 40px 40px;
}

.word-logo {
  margin-bottom: 10px;
}

.slogan-space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.large-slogan {
  margin-bottom: 10px;
}

.slogan-light {
  font-size: 20px;
  color: #404040;
  font-weight: 200;
  margin: 0px 0px 0px 0px;
}

.slogan-bold {
  font-size: 20px;
  color: #404040;
  font-weight: 500;
  margin: 0px 0px 0px 0px;
}

.explain {
  font-size: 10px;
  color: #404040;
  font-weight: 200;
  margin: 0px 0px 0px 0px;
}

.contents {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 100px;
}

#order-button {
  width: 100%;
  height: 70px;

  background-color: rgba(233, 233, 233, 0.6);
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);

  font-size: 20px;
  color: #404040;

  border: 0px;
  border-radius: 20px;

  margin-bottom: 10px;
  padding: 20px 20px 20px 20px;
}

.order-list-space {
  width: 100%;

  background-color: rgba(233, 233, 233, 0.6);
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);

  border: 0px;
  border-radius: 20px;

  margin-top: 10px;
  margin-bottom: 100px;
}

.order-list-space2 {
  padding: 20px 20px 10px 20px;
}

.order-list-tag {
  font-size: 13px;
  color: #404040;
  margin-bottom: 10px;
}

.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-top: 1px solid #909090;
}

.user-profile-pic-space {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;

  /* box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1); */
  margin: 10px 10px 10px 0px;
}

.user-profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-preview-space {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px 10px 10px 10px;
}

.user-name-space {
  margin: 5px 5px 5px 5px;
}

.user-name {
  font-size: 17px;
  color: #404040;
  font-weight: 500;
  margin: 0;
}

.order-preview {
  margin: 5px 5px 5px 5px;
}

.order-menu,
.order-place,
.order-tip {
  font-size: 13px;
  color: #404040;
  font-weight: 300;
  margin: 0;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 100px;
  right: 40px;
  background-color: #5c73f6;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-text {
  font-size: 13px;
  font-weight: 200;
  color: #fff;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: fixed;
  bottom: 0;

  width: 100%;
  height: 70px;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.1);

  background-color: white;
}

.menu-button-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
}

.menu-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-explain {
  font-size: 10px;
  color: #404040;
  text-align: center;
  margin: 0;
}

.footer-img {
  height: 30px;
}
