{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <title>마이프로필</title>
</head>
<body>
    <div id="main-container">
        <div id="mypage-container">
            <div id="top-title-area">
                <img src="{% static 'img/back-icon.svg' %}" onclick="history.back()" alt="뒤로가기">
                <div class="top-title">
                    <p>마이 프로필</p>
                </div>
                <div class="top-white-space"></div>
            </div>
            <div id="img-div">
                {% if details.image %}
                    <label for='change_img'><p class="image-wraper"><img id="profile-img" src="{{ details.image.url }}" alt="없음"></p></label>
                {% else %}
                    <label for='change_img'><p class="image-wraper"><img id="profile-img" src="{% static 'image/default-user-profile-pic.png' %}" alt="없음"></p></label>
                {% endif %}
            </div>
            <div id="center-container">
                <form action="{% url 'mypage' details.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><input type="file" name="image" id="change_img" onchange="setThubnail(event)"></p>
                    <div class="button-area">
                        <button name="change_image" id="change_image_button">프로필 사진 저장</button>
                    </div>
                    <div id="name-area">
                        <p class="name">{{details.nickname}}</p>
                    </div>
                    <p class="info"><strong>ID  </strong>{{details.username}}</p>
                    <p class="info"><strong>이메일  </strong>{{details.school_email}}</p>
                    <p class="info"><strong>현재 비밀번호 &nbsp; </strong><input type="password" name="old_password" placeholder="현재 비밀번호"></p>
                    <p class="info"><strong>새로운 비밀번호  </strong><input type="password" name="new_password" placeholder="현재 비밀번호"></p>
                    {% if error %}
                    {{error}}
                    {% endif %}
                    <div class="button-area">
                        <button name="change_password" id="change_password_button">비밀번호 변경</button>
                    </div>
                </form>
                <div class="button-area margin-top">
                    <a href="{% url 'logout' %}">
                        <button id="logout-button">로그아웃</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/mypage.js' %}"></script>
</body>
</html>